p{
    background-color: aquamarine;
}

a{
    background-color: chartreuse;
}
div{
    background-color: crimson;
}
span{
    background-color: cyan;
}
h1{
    background-color: fuchsia;
}